distribution = {{ ansible_distribution }}
hostname = {{ ansible_hostname }}
kernal = {{ ansible_kernel }}
nodename = {{ ansible_nodename }}
family = {{ ansible_os_family }}
manager = {{ ansible_pkg_mgr }}
